body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff;
  text-align: center;
}

.min-h-screen {
  min-height: 110vh;
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}

.organizers-section {
  padding: 50px 20px;
  background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  

}

.organizers-section h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.organizers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 100px;
}

.organizer-card {
  width: 180px;
  text-align: center;
}

.organizer-card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.organizer-card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.organizer-card p {
  font-size: 1rem;
  color: #363636;
  margin-bottom: 15px;
}

.organizer-card button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
}

.organizer-card button:hover {
  background-color: #ddd;
}
